deb [arch=amd64 signed-by=/usr/share/keyrings/oracle-virtualbox-2016.gpg] http://download.virtualbox.org/virtualbox/debian {{ mint_debian_ubuntu_versions[ansible_distribution_major_version] }} contrib